<div class="container mt-5">
  <nav aria-label="Page navigation example mt-5">
    <ul class="pagination justify-content-center">
      <li [ngClass]="['page-item', activePage - 1 < 1 ? 'disabled' :  '']">
        <a
          routerLink="/courses"
          [queryParams]="{ page: activePage - 1 }"
          [queryParamsHandling]="'merge'"
          class="page-link">
            <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let page of totalPages" [ngClass]="['page-item', page === activePage ? 'active' : '']">
        <a
          routerLink="/courses"
          [queryParamsHandling]="'merge'"
          [queryParams]="{ page }"
          class="page-link">
            {{ page }}
          </a>
      </li>
      <li [ngClass]="['page-item', activePage + 1 > totalPages[totalPages.length - 1] ? 'disabled' :  '']">
        <a
          class="page-link"
          routerLink="/courses"
          [queryParams]="{ page: activePage + 1 }"
          [queryParamsHandling]="'merge'">
            <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
