<div *ngIf="course" class="card" style="width: 18rem;">
  <figure class="image-container">
    <span class="badge bg-primary">{{ course.category }}</span>
    <img
      src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      class="card-img-top"
      alt="tegnology">
  </figure>
  <div class="card-body">
    <h5 class="card-title">{{ course.title }}</h5>
    <p [title]="course.description" class="card-text text-muted description">{{ course.description }}</p>
    <div class="py-1 d-flex gap-5">
      <div class="d-flex gap-2">
        <fa-icon class="text-muted" [icon]="userIcon"></fa-icon>
        <p class="text-muted">{{ course.students }}</p>
      </div>
      <div class="d-flex gap-2">
        <fa-icon class="icon-start" [icon]="startIcon"></fa-icon>
        <p class="text-muted">{{ course.score }}</p>
      </div>
    </div>
    <div class="d-grid gap-2">
      <a [routerLink]="[course.id]" class="btn btn-primary block">Más información</a>
    </div>
  </div>
  <div class="card-footer text-muted footer">
    <img class="avatar" [src]="course.teacher.picture.thumbnail" [alt]="course.teacher.name">
    <div class="teacher-name">
      <p>{{ course.teacher.name }}</p>
    </div>
    <div>
      <img class="flag" [src]="course.teacher.country.flags.svg" alt="">
    </div>
  </div>
</div>
