<div class="resume">
  <div class="item">
    <fa-icon class="icon" [icon]="bookIcon"></fa-icon>
    <p>4 Modulos</p>
  </div>
  <div class="item">
    <fa-icon class="icon" [icon]="playIcon"></fa-icon>
    <p>50 Clases</p>
  </div>
  <div class="item">
    <fa-icon class="icon" [icon]="clockIcon"></fa-icon>
    <p>6.9 horas de contenido</p>
  </div>
</div>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div *ngFor="let module of classes; index as i" class="accordion-item">
    <h2 class="accordion-header">
      <a class="accordion-button collapsed link" [href]="'#modulo' + i" type="button" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="0">
        <div class="module-header">
          <h6 class="title">{{ module.title }}</h6>
          <p class="description">{{ module.description }}</p>
        </div>
      </a>
    </h2>
    <div [id]="'modulo' + i" class="accordion-collapse collapse">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
    </div>
  </div>
</div>
