<div class="resume">
  <div class="item">
    <fa-icon class="icon" [icon]="bookIcon"></fa-icon>
    <p>{{ classes.length }} Modulos</p>
  </div>
  <div class="item">
    <fa-icon class="icon" [icon]="playIcon"></fa-icon>
    <p>{{ classes | courseClasses }} Clases</p>
  </div>
  <div class="item">
    <fa-icon class="icon" [icon]="clockIcon"></fa-icon>
    <p>{{ classes | courseHours }} horas de contenido</p>
  </div>
</div>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div *ngFor="let module of classes; index as i" class="accordion-item">
    <h2 class="accordion-header">
      <a class="accordion-button collapsed link" [href]="'#modulo' + i" type="button" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="0">
        <div class="module-header">
          <h6 class="title">{{ module.title }}</h6>
          <p class="description">{{ module.description }}</p>
        </div>
      </a>
    </h2>
    <div [id]="'modulo' + i" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div class="lesson" *ngFor="let lesson of module.lessons; index as i">
          <div class="info">
            <fa-icon class="icon" [icon]="playIcon"></fa-icon>
            <p>Clase {{ i + 1 }}</p>
          </div>
          <div class="time">
            <p>{{ lesson | minutesSeconds }} min</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
