.not-found {
  background-image: linear-gradient(
    109.6deg,
    rgba(36, 45, 57, 1) 11.2%,
    rgba(16, 37, 60, 1) 51.2%,
    rgba(0, 0, 0, 1) 98.6%
  );
  padding: 20px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  h1 {
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
  }
  p {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
  }
  .btn {
    background: white;
  }
}
