.not-found {
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  );
  padding: 20px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  h1 {
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
  }
  p {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
  }
  .btn {
    background: white;
  }
}
